
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @book.user %>
      <%= render 'books/new', book: Book.new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
              <p><%= link_to @book.user.name, user_path(@book.user) %></p>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book) %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete,  data: { confirm: "削除しますか？" } %></td>
            <% end %>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>